<div class="container">
  <h1>All Football Fields!</h1>

  <% @football_fields.each do |field| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <%= link_to football_field_path(field) do %>
          <h2><%= field.name %></h2>
        <% end %>
        <p><%= field.address %></p>
      </div>
    </div>
  <% end %>
</div>
